@model  BookClub.Models.Book
@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<div id="bookInfo">
    <div>Book Title: @Model.Title </div>
    @foreach (var item in Model.Authors)//Foreach is useless since each book only has 1 author
    {
        <div>Book Author: @item.FirstName @item.LastName </div>
    }
    
    <div>Book Description: @Model.Description</div>
</div>


<h2> Reviews </h2>

<div id="reviewInfo">
    @foreach (var item in Model.Reviews)
    {
        int rating = 0;

        switch (item.Rating) {
            case -5: rating = 1;
                break;
            case -3: rating = 2;
                break;
            case 0: rating = 3;
                break;
            case 3: rating = 4;
                break;
            case 5: rating = 5;
                break;

        }

        <div>User: @item.UserName </div>
        <div>Rating: @rating</div>
    }
</div>